{
  "swagger": "2.0",
  "info": {
    "version": "V1.0",
    "title": "Clinical Conductor API",
    "description": "Clinical Conductor API Specifications.",
    "x-swagger-net-version": "8.5.12.001",
    "contact": {
      "name": "Advarra",
      "email": "ccsupport@advarra.com?subject=CCAPI"
    }
  },
  "host": "tektonresearch.clinicalconductor.com",
  "basePath": "/CCSWEB",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v1/studies/{studyId}/actions/{actionId}/unit-completions": {
      "get": {
        "tags": [
          "ActionUnitCompletion"
        ],
        "summary": "Get list of Unit Completions for specific Study Action.",
        "operationId": "ActionUnitCompletion_GetUnitCompletions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "studyId",
            "in": "path",
            "description": "Study Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "actionId",
            "in": "path",
            "description": "Study Action Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/ActionUnitCompletionViewModel"
              },
              "xml": {
                "name": "ActionUnitCompletionViewModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Not Found - Study or Study Action with the provided value does not exist"
          },
          "501": {
            "description": "Bad Request - Action Unit Completions functionality is only available in CCE instances"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "ActionUnitCompletion"
        ],
        "summary": "Creates Unit Completion for specific Study Action.",
        "operationId": "ActionUnitCompletion_CreateUnitCompletion",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "studyId",
            "in": "path",
            "description": "Study Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "actionId",
            "in": "path",
            "description": "Study Action Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionUnitCompletionCreateModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActionUnitCompletionViewModel"
            }
          },
          "400": {
            "description": "Bad Request - Invalid request data"
          },
          "404": {
            "description": "Not Found - Study or Study Action with the provided value does not exist"
          },
          "501": {
            "description": "Bad Request - Action Unit Completions functionality is only available in CCE instances"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/studies/{studyId}/actions/{actionId}/unit-completions/{id}": {
      "get": {
        "tags": [
          "ActionUnitCompletion"
        ],
        "summary": "Get Unit Completion for specific Study Action.",
        "operationId": "ActionUnitCompletion_GetUnitCompletion",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "studyId",
            "in": "path",
            "description": "Study Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "actionId",
            "in": "path",
            "description": "Study Action Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Action Unit Completion Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActionUnitCompletionViewModel"
            }
          },
          "404": {
            "description": "Not Found - Study, Study Action or Action Unit Completion with the provided value does not exist"
          },
          "501": {
            "description": "Bad Request - Action Unit Completions functionality is only available in CCE instances"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "put": {
        "tags": [
          "ActionUnitCompletion"
        ],
        "summary": "Updates Unit Completion for specific Study Action.",
        "operationId": "ActionUnitCompletion_UpdateUnitCompletion",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "studyId",
            "in": "path",
            "description": "Study Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "actionId",
            "in": "path",
            "description": "Study Action Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Action Unit Completion Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionUnitCompletionEditModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActionUnitCompletionViewModel"
            }
          },
          "404": {
            "description": "Not Found - Study, Study Action or Action Unit Completion with the provided value does not exist"
          },
          "501": {
            "description": "Bad Request - Action Unit Completions functionality is only available in CCE instances"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "ActionUnitCompletion"
        ],
        "summary": "Deletes Unit Completion for specific Study Action.",
        "operationId": "ActionUnitCompletion_DeleteUnitCompletion",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "studyId",
            "in": "path",
            "description": "Study Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "actionId",
            "in": "path",
            "description": "Study Action Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Action Unit Completion Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StatusCodeResult"
            }
          },
          "204": {
            "description": "Unit completion has been deleted"
          },
          "404": {
            "description": "Not Found - Study, Study Action or Action Unit Completion with the provided value does not exist"
          },
          "501": {
            "description": "Bad Request - Action Unit Completions functionality is only available in CCE instances"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/elements/{id}": {
      "get": {
        "tags": [
          "Element"
        ],
        "summary": "Get a specific Element",
        "operationId": "Element_GetElement",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "query",
            "description": "Study ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElementViewModel"
            }
          },
          "400": {
            "description": "Bad Request - Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "403": {
            "description": "Forbidden - No permission to perform the operation"
          },
          "404": {
            "description": "Not Found - Element or Study with provided ID do not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "put": {
        "tags": [
          "Element"
        ],
        "summary": "Update Element. Element name must be unique within the Study. See other model requirements in the Element Model section.",
        "operationId": "Element_UpdateElement",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Element model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElementEditModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "query",
            "description": "Study ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElementViewModel"
            }
          },
          "400": {
            "description": "Bad Request - Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "403": {
            "description": "Forbidden - No permission to perform the operation"
          },
          "404": {
            "description": "Not Found - Corresponding object with the provided identifier does not exist in the system"
          },
          "409": {
            "description": "Conflict - Element name is not unique within the Study"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Element"
        ],
        "summary": "Delete Element",
        "operationId": "Element_DeleteElement",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content - Element has been removed from Study"
          },
          "400": {
            "description": "Bad Request - Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "403": {
            "description": "Forbidden - No permission to perform the operation"
          },
          "404": {
            "description": "Not Found - Study or Element with provided ID does not exist"
          },
          "409": {
            "description": "Conflict - Element cannot be removed from Study",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/studies/{studyId}/elements/{id}": {
      "get": {
        "tags": [
          "Element"
        ],
        "summary": "Get a specific Element",
        "operationId": "Element_GetApiV1StudiesByStudyIdElementsById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElementViewModel"
            }
          },
          "400": {
            "description": "Bad Request - Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "403": {
            "description": "Forbidden - No permission to perform the operation"
          },
          "404": {
            "description": "Not Found - Element or Study with provided ID do not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "put": {
        "tags": [
          "Element"
        ],
        "summary": "Update Element. Element name must be unique within the Study. See other model requirements in the Element Model section.",
        "operationId": "Element_PutApiV1StudiesByStudyIdElementsById",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Element model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElementEditModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Element ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElementViewModel"
            }
          },
          "400": {
            "description": "Bad Request - Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "403": {
            "description": "Forbidden - No permission to perform the operation"
          },
          "404": {
            "description": "Not Found - Corresponding object with the provided identifier does not exist in the system"
          },
          "409": {
            "description": "Conflict - Element name is not unique within the Study"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Element"
        ],
        "summary": "Delete Element",
        "operationId": "Element_DeleteApiV1StudiesByStudyIdElementsById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content - Element has been removed from Study"
          },
          "400": {
            "description": "Bad Request - Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "403": {
            "description": "Forbidden - No permission to perform the operation"
          },
          "404": {
            "description": "Not Found - Study or Element with provided ID does not exist"
          },
          "409": {
            "description": "Conflict - Element cannot be removed from Study",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/elements/odata": {
      "get": {
        "tags": [
          "Element"
        ],
        "summary": "Get a list of Elements. This endpoint implements OData (Open Data Protocol).",
        "operationId": "Element_GetElements",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "queryOptions",
            "in": "header",
            "description": "OData query options",
            "required": false
          },
          {
            "name": "studyId",
            "in": "query",
            "description": "Study ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageResultOfElementViewModel"
            }
          },
          "403": {
            "description": "Forbidden - No permission to perform the operation"
          },
          "404": {
            "description": "Not Found - Study with provided ID does not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/studies/{studyId}/elements/odata": {
      "get": {
        "tags": [
          "Element"
        ],
        "summary": "Get a list of Elements. This endpoint implements OData (Open Data Protocol).",
        "operationId": "Element_GetApiV1StudiesByStudyIdElementsOdata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "queryOptions",
            "in": "header",
            "description": "OData query options",
            "required": false
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageResultOfElementViewModel"
            }
          },
          "403": {
            "description": "Forbidden - No permission to perform the operation"
          },
          "404": {
            "description": "Not Found - Study with provided ID does not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/elements": {
      "post": {
        "tags": [
          "Element"
        ],
        "summary": "Create Element. Element name must be unique within the Study. See other model requirements in the Element Model section.",
        "operationId": "Element_CreateElement",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Element model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElementCreateModel"
            }
          },
          {
            "name": "studyId",
            "in": "query",
            "description": "Study ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElementViewModel"
            }
          },
          "400": {
            "description": "Bad Request - Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "403": {
            "description": "Forbidden - No permission to perform the operation"
          },
          "404": {
            "description": "Not Found - Corresponding object with the provided identifier does not exist in the system"
          },
          "409": {
            "description": "Conflict - Element name is not unique within the Study"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/studies/{studyId}/elements": {
      "post": {
        "tags": [
          "Element"
        ],
        "summary": "Create Element. Element name must be unique within the Study. See other model requirements in the Element Model section.",
        "operationId": "Element_PostApiV1StudiesByStudyIdElements",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Element model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElementCreateModel"
            }
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElementViewModel"
            }
          },
          "400": {
            "description": "Bad Request - Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "403": {
            "description": "Forbidden - No permission to perform the operation"
          },
          "404": {
            "description": "Not Found - Corresponding object with the provided identifier does not exist in the system"
          },
          "409": {
            "description": "Conflict - Element name is not unique within the Study"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/engagements": {
      "get": {
        "tags": [
          "Engagement"
        ],
        "summary": "Get a list of engagements.",
        "operationId": "Engagement_GetEngagements",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/EngagementViewModel"
              },
              "xml": {
                "name": "EngagementViewModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Engagement"
        ],
        "summary": "Create an engagement.",
        "operationId": "Engagement_CreateEngagement",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "engagement",
            "in": "body",
            "description": "Engagement model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EngagementEditModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK - Engagement has been created",
            "schema": {
              "$ref": "#/definitions/EngagementViewModel"
            }
          },
          "400": {
            "description": "Bad Request - Invalid request data",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          },
          "409": {
            "description": "Conflict - Engagement could not be created",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          },
          "500": {
            "description": "Server Error - Contact support"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/engagements/{id}": {
      "get": {
        "tags": [
          "Engagement"
        ],
        "summary": "Get a single engagement by ID.",
        "operationId": "Engagement_GetEngagement",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Engagement ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EngagementViewModel"
            }
          },
          "404": {
            "description": "Not Found - Engagement with provided ID does not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "put": {
        "tags": [
          "Engagement"
        ],
        "summary": "Update an engagement.",
        "operationId": "Engagement_UpdateEngagement",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "engagement",
            "in": "body",
            "description": "Engagement model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EngagementEditModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Engagement ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Engagement has been updated",
            "schema": {
              "$ref": "#/definitions/EngagementViewModel"
            }
          },
          "400": {
            "description": "Bad Request - Invalid request data",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          },
          "404": {
            "description": "Not Found - Engagement with provided ID does not exist"
          },
          "409": {
            "description": "Conflict - Engagement could not be created",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          },
          "500": {
            "description": "Server Error - Contact support"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Engagement"
        ],
        "summary": "Delete an engagement.",
        "operationId": "Engagement_DeleteEngagement",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Engagement ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "OK - Engagement has been deleted"
          },
          "404": {
            "description": "Not Found - Engagement with provided ID does not exist"
          },
          "500": {
            "description": "Server Error - Contact support"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/engagements/odata": {
      "get": {
        "tags": [
          "Engagement"
        ],
        "summary": "Get a list of engagements. This endpoint implements OData (Open Data Protocol).",
        "operationId": "Engagement_GetApiV1EngagementsOdata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "queryOptions",
            "in": "header",
            "description": "OData query options",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageResultOfEngagementViewModel"
            }
          },
          "400": {
            "description": "Bad Request - Invalid request data"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/studies/{studyId}/engagements": {
      "get": {
        "tags": [
          "Engagement"
        ],
        "summary": "Get a list of engagements for a specific study.",
        "operationId": "Engagement_GetEngagementsOfSpecificStudy",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/EngagementViewModel"
              },
              "xml": {
                "name": "EngagementViewModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/instance/details": {
      "get": {
        "tags": [
          "Instance"
        ],
        "summary": "Get instance details",
        "operationId": "Instance_GetDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InstanceDetails"
            }
          }
        }
      }
    },
    "/api/v1/instance/topology": {
      "get": {
        "tags": [
          "Instance"
        ],
        "summary": "Gets the topology of this Clinical Conductor's environment. When called from a linked CCE it will return the \r\ninformation related to the Enterprise instance as well as the the linked CCS instances. When called from a specific\r\nCCS instance, it will return information about the Site instance and shared information from a linked Enterprise, \r\nbut not other Site instances that may be linked with that CCE. When called against a standalone instance, \r\nit will return only information about that specific instance.",
        "operationId": "Instance_GetInstanceTopology",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClinicalConductorTopologyViewModel"
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/finances/invoices/{id}": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Get an Invoice Detail",
        "operationId": "Invoice_GetInvoiceDetail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Invoice ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InvoiceDetailViewModel"
            }
          },
          "404": {
            "description": "Not Found - Invoice with provided ID does not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/monitors": {
      "get": {
        "tags": [
          "Monitor"
        ],
        "summary": "Get a list of monitors",
        "operationId": "Monitor_GetAllPreviews",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/MonitorPreviewModel"
              },
              "xml": {
                "name": "MonitorPreviewModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/monitor-queries/{id}": {
      "get": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Get a specific Monitor Query.",
        "operationId": "MonitorQuery_GetQuery",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "query",
            "description": "Study ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "put": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Update Monitor Query with response, without changing the query status.",
        "operationId": "MonitorQuery_UpdateQuery",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Monitor Query model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitorQueryResponseCreateModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "query",
            "description": "Study ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Response created for query created",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist, or specified action does not exist"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Delete Monitor Query with all responses.",
        "operationId": "MonitorQuery_DeleteQuery",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "query",
            "description": "Study ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "Monitor Query has been removed with all responses"
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist"
          },
          "409": {
            "description": "Monitor Query cannot be removed",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/studies/{studyId}/monitor-queries/{id}": {
      "get": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Get a specific Monitor Query.",
        "operationId": "MonitorQuery_GetApiV1StudiesByStudyIdMonitor-queriesById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "put": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Update Monitor Query with response, without changing the query status.",
        "operationId": "MonitorQuery_PutApiV1StudiesByStudyIdMonitor-queriesById",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Monitor Query model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitorQueryResponseCreateModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Response created for query created",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist, or specified action does not exist"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Delete Monitor Query with all responses.",
        "operationId": "MonitorQuery_DeleteApiV1StudiesByStudyIdMonitor-queriesById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "Monitor Query has been removed with all responses"
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist"
          },
          "409": {
            "description": "Monitor Query cannot be removed",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/monitor-queries/odata": {
      "get": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Get a page of Monitor Queries. This endpoint implements OData (Open Data Protocol).",
        "operationId": "MonitorQuery_GetPage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "studyId",
            "in": "query",
            "description": "Study ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "queryOptions",
            "in": "header",
            "description": "OData query options",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageResultOfMonitorQueryPreviewModel"
            }
          },
          "404": {
            "description": "Not Found - Study with provided ID does not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/studies/{studyId}/monitor-queries/odata": {
      "get": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Get a page of Monitor Queries. This endpoint implements OData (Open Data Protocol).",
        "operationId": "MonitorQuery_GetApiV1StudiesByStudyIdMonitor-queriesOdata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "queryOptions",
            "in": "header",
            "description": "OData query options",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageResultOfMonitorQueryPreviewModel"
            }
          },
          "404": {
            "description": "Not Found - Study with provided ID does not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/monitor-visits/{monitorVisitId}/monitor-queries/odata": {
      "get": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Get a page of Monitor Queries of specific Monitor Visit. This endpoint implements OData (Open Data Protocol).",
        "operationId": "MonitorQuery_GetPageByMonitorVisitId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "monitorVisitId",
            "in": "path",
            "description": "Monitor Visit ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "query",
            "description": "Study ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "queryOptions",
            "in": "header",
            "description": "OData query options",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageResultOfMonitorQueryPreviewModel"
            }
          },
          "404": {
            "description": "Not Found - Study with provided ID does not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/studies/{studyId}/monitor-visits/{monitorVisitId}/monitor-queries/odata": {
      "get": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Get a page of Monitor Queries of specific Monitor Visit. This endpoint implements OData (Open Data Protocol).",
        "operationId": "MonitorQuery_GetApiV1StudiesByStudyIdMonitor-visitsByMonitorVisitIdMonitor-queriesOdata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "monitorVisitId",
            "in": "path",
            "description": "Monitor Visit ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "queryOptions",
            "in": "header",
            "description": "OData query options",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageResultOfMonitorQueryPreviewModel"
            }
          },
          "404": {
            "description": "Not Found - Study with provided ID does not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/monitor-queries": {
      "post": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Create Monitor Query.",
        "operationId": "MonitorQuery_CreateQuery",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Monitor Query model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitorQueryCreateModel"
            }
          },
          {
            "name": "studyId",
            "in": "query",
            "description": "Study ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Study with provided ID does not exist"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/studies/{studyId}/monitor-queries": {
      "post": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Create Monitor Query.",
        "operationId": "MonitorQuery_PostApiV1StudiesByStudyIdMonitor-queries",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Monitor Query model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitorQueryCreateModel"
            }
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Study with provided ID does not exist"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/monitor-queries/{id}/waive": {
      "post": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Waive the Monitor Query.",
        "operationId": "MonitorQuery_WaiveQuery",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Monitor query response model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitorQueryResponseCreateModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "query",
            "description": "Study ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Response created and status of query has been updated",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist, or specified action does not exist"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/studies/{studyId}/monitor-queries/{id}/waive": {
      "post": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Waive the Monitor Query.",
        "operationId": "MonitorQuery_PostApiV1StudiesByStudyIdMonitor-queriesByIdWaive",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Monitor query response model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitorQueryResponseCreateModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Response created and status of query has been updated",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist, or specified action does not exist"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/monitor-queries/{id}/answer": {
      "post": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Answer to Monitor Query.",
        "operationId": "MonitorQuery_AnswerQuery",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Monitor query response model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitorQueryResponseCreateModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "query",
            "description": "Study ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Response created and status of query has been updated",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist, or specified action does not exist"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/monitor-queries/{id}/cancel": {
      "post": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Cancel the Monitor Query.",
        "operationId": "MonitorQuery_CancelQuery",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Monitor query response model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitorQueryResponseCreateModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "query",
            "description": "Study ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Response created and status of query has been updated",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist, or specified action does not exist"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/studies/{studyId}/monitor-queries/{id}/answer": {
      "post": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Answer to Monitor Query.",
        "operationId": "MonitorQuery_PostApiV1StudiesByStudyIdMonitor-queriesByIdAnswer",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Monitor query response model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitorQueryResponseCreateModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Response created and status of query has been updated",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist, or specified action does not exist"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/studies/{studyId}/monitor-queries/{id}/cancel": {
      "post": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Cancel the Monitor Query.",
        "operationId": "MonitorQuery_PostApiV1StudiesByStudyIdMonitor-queriesByIdCancel",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Monitor query response model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitorQueryResponseCreateModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Response created and status of query has been updated",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist, or specified action does not exist"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/monitor-queries/{id}/reissue": {
      "post": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Reissue the Monitor Query.",
        "operationId": "MonitorQuery_ReissueQuery",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Monitor query response model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitorQueryResponseCreateModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "query",
            "description": "Study ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Response created and status of query has been updated",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist, or specified action does not exist"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/monitor-queries/{id}/resolve": {
      "post": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Resolve the Monitor Query.",
        "operationId": "MonitorQuery_ResolveQuery",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Monitor query response model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitorQueryResponseCreateModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "query",
            "description": "Study ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Response created and status of query has been updated",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist, or specified action does not exist"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/studies/{studyId}/monitor-queries/{id}/reissue": {
      "post": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Reissue the Monitor Query.",
        "operationId": "MonitorQuery_PostApiV1StudiesByStudyIdMonitor-queriesByIdReissue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Monitor query response model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitorQueryResponseCreateModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Response created and status of query has been updated",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist, or specified action does not exist"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/studies/{studyId}/monitor-queries/{id}/resolve": {
      "post": {
        "tags": [
          "MonitorQuery"
        ],
        "summary": "Resolve the Monitor Query.",
        "operationId": "MonitorQuery_PostApiV1StudiesByStudyIdMonitor-queriesByIdResolve",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Monitor query response model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MonitorQueryResponseCreateModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Monitor Query ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Response created and status of query has been updated",
            "schema": {
              "$ref": "#/definitions/MonitorQueryViewModel"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Monitor Query or Study with provided ID do not exist, or specified action does not exist"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/patients/{id}": {
      "get": {
        "tags": [
          "Patient"
        ],
        "summary": "Get a Patient by ID.",
        "operationId": "Patient_GetPatient",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Patient ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PatientViewModel"
            }
          },
          "404": {
            "description": "Not Found - Patient with provided ID does not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "put": {
        "tags": [
          "Patient"
        ],
        "summary": "Update a Patient.",
        "operationId": "Patient_UpdatePatient",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "editModel",
            "in": "body",
            "description": "Patient model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatientEditModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Patient ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Patient has been updated",
            "schema": {
              "$ref": "#/definitions/PatientViewModel"
            }
          },
          "400": {
            "description": "Bad Request - Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Not Found - Patient with provided ID does not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Patient"
        ],
        "summary": "Delete a Patient.",
        "operationId": "Patient_DeletePatient",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Patient ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content - Patient has been deleted"
          },
          "404": {
            "description": "Not Found - Not Found - Patient with provided ID does not exist"
          },
          "409": {
            "description": "Conflict - Patient cannot be deleted",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Patient"
        ],
        "summary": "Patch a Patient.",
        "operationId": "Patient_PatchPatient",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "patchModel",
            "in": "body",
            "description": "Patient model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatientPatchModel"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Patient ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Patient has been updated",
            "schema": {
              "$ref": "#/definitions/PatientViewModel"
            }
          },
          "400": {
            "description": "Bad Request - Invalid request data",
            "schema": {
              "items": {
                "$ref": "#/definitions/ErrorResponseModel"
              },
              "xml": {
                "name": "ErrorResponseModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Not Found - Patient with provided ID does not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/patients/odata": {
      "get": {
        "tags": [
          "Patient"
        ],
        "summary": "Get a list of Patients. This endpoint implements OData (Open Data Protocol).",
        "operationId": "Patient_GetPatients",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "queryOptions",
            "in": "header",
            "description": "OData query options",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/PatientViewModel"
              },
              "xml": {
                "name": "PatientViewModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request - Invalid request data"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/patients/{id}/devices": {
      "get": {
        "tags": [
          "Patient"
        ],
        "summary": "Get a list of medical devices for a patient.",
        "operationId": "Patient_GetPatientDevices",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Patient ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/PatientMedicalDeviceViewModel"
              },
              "xml": {
                "name": "PatientMedicalDeviceViewModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "404": {
            "description": "Not Found - Patient with provided ID does not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Patient"
        ],
        "summary": "Add a list of medical devices for a patient.",
        "operationId": "Patient_AddPatientDevices",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Patient ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "patientDevices",
            "in": "body",
            "description": "List of devices",
            "required": true,
            "schema": {
              "items": {
                "$ref": "#/definitions/PatientMedicalDeviceEditModel"
              },
              "xml": {
                "name": "PatientMedicalDeviceEditModel",
                "wrapped": true
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created - Patient devices have been created",
            "schema": {
              "items": {
                "$ref": "#/definitions/PatientMedicalDeviceViewModel"
              },
              "xml": {
                "name": "PatientMedicalDeviceViewModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request - Invalid request data"
          },
          "404": {
            "description": "Not Found - Patient with provided ID does not exist"
          }
        },
        "security": [
          {
            "CCAPIKey": []
          }
        ]
      }
    },
    "/api/v1/patients/{id}/allergies": {
      "get": {
        "tags": [
          "Patient"
        ],
        "summary": "Get a list of reported allergies for a patient.",
        "operationId": "Patient_GetPatientAllergies",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Patient ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
[...]
